.author {
  display: flex;
  align-items: center;
  height: 100%;
}

.paragraph-2 {
  margin: 0 1.5rem;
  text-align: center;
}

img {
  border-radius: 50%;
}
.size-1 {
  height: 3rem;
  width: 3rem;
}

.size-2 {
  width: 4rem;
  height: 4rem;
}

.size-3 {
  width: 6.7rem;
  height: 6.7rem;
}
