/** @format */

.form {
  &-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-group {
    display: flex;
    flex-direction: column;

    &__label {
      margin-bottom: 1rem;
    }

    &__label.heading-2 {
      margin-bottom: 0.6rem;
      color: rgba(var(--main-font-color), 0.6);
    }

    &__input {
      width: 360px;
      @include respond(tab-port) {
        width: 90%;
      }
      height: 50px;
      padding: 10px 16px 11px;
      border-radius: 10px;
      border: solid 1px #139eca4d;
      background-color: $white-three;
      font-family: inherit;
      font-size: 1.8rem;
      margin-bottom: 2.4rem;
      &[type='tel'],
      &[type='email'],
      &[name='userName'] {
        direction: ltr;
      }
      &::placeholder {
        color: $cloudy-blue;
        text-align: right;
      }
      &[type='tel']::placeholder,
      &[type='email']::placeholder {
        direction: ltr;
      }
      &:last-child {
        margin-bottom: 3.5rem;
      }

      &-textarea {
        width: 100%;
        height: 10rem;
        margin-bottom: 2rem;
      }
    }
    &__input-small {
      width: 16.5rem;
    }
    &__input,
    &__input-small {
      @include respond(tab-port) {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}

.require::before {
  content: '*';
}

.require-after::after {
  content: '*';
}

.inline-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include respond(tab-port) {
    flex-direction: column;
  }
}

.input-code {
  direction: ltr;
  &__item {
    text-align: center;
    width: 40px;
    height: 50px;
    border-radius: 10px;
    border: solid 1px rgba($water-blue, 0.3);
    background-color: $white-three;
    margin: 1rem 1.6rem 3.5rem 0;
  }
}
