/** @format */
// color
:root {
  --main-font-color: #28394f;
}
$main-color: #fafafa;
$dark-slate-blue: #264e64;
$dark-blue-grey: #28394f;
$pale-grey: #eef2f3;
$warm-gray: #707070;
$warm-gray-2: #808080;
$tealish: #30bfb7;
$water-blue: #139eca;
$aqua-blue: #00d2f2;
$blue-grey: #56838a;
$white-three: #ffff;
$black: #000;
$cloudy-blue: #b8c1cd;
$greyish-brown: #5a5a5a;
// max-width
$max-width: 1140px;
$max-width-small: 750px;
