.container {
  max-width: $max-width;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  @include respond(tab-land) {
    padding: 0 3rem;
  }
  @include respond(tab-port) {
    padding: 0 2rem;
  }
  @include respond(phone) {
    padding: 0 1rem;
  }
}
.small {
  max-width: $max-width-small;
  @include respond(tab-port) {
    padding: 0 3rem;
  }
  @include respond(phone) {
    padding: 0 1rem;
  }
}
