#notfound {
  position: relative;
  height: 90vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .btn-big {
    max-width: 25rem;
    margin: 5rem auto 0 auto;
  }
}
.notfound {
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding: 0 1.5rem;
}
.notfound .notfound-404 {
  position: absolute;
  height: 10rem;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}
.notfound .notfound-404 h1 {
  color: #ececec;
  font-weight: 900;
  font-size: 27.6rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound h2 {
  font-size: 4.6rem;
  color: var(--main-font-color);
  font-weight: 900;
  text-transform: uppercase;
}

@include respond(mobile) {
  .notfound .notfound-404 h1 {
    font-size: 16.2rem;
  }
  .notfound h2 {
    font-size: 2.6rem;
  }
}
