/** @format */

.subjects {
  width: 100%;
  margin: 4rem 0 7rem 0;
  display: flex;
  align-items: center;
  height: 3rem;

  &-selected {
    display: flex;
    align-items: center;
    margin-right: 4rem;
    height: 100%;
  }

  .subject {
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0.4rem 1.2rem;
    border-radius: 17px;
    background-color: $pale-grey;
  }

  &-select {
    height: 3.2rem;
    width: 3.2rem;
    padding: 0.4rem;
    border-radius: 50%;
    background-color: $tealish;
    & > img {
      height: 2.4rem;
      width: 2.4rem;
    }
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}

.remove {
  width: 1.6rem;
  height: 1.6rem;
  margin: 5px 5px 5px 0;
  cursor: pointer;
}
